       <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        相关链接
      </div>    
 <ul class="list-unstyled">
             <li>
                <a href="https://ws1.sinaimg.cn/large/a15b4afely1fm54vc7pstj207i07ijr9.jpg" class="categories-list-item">
                   手机扫码打开本网站
                </a>
              </li>
            <li>
                <a href="https://www.baidu.com/" class="categories-list-item">
                   百度
                </a>
              </li>

              		
            </ul>

</div>
